#ext_menu-0 .navbar-toggler {
  color: #000;
}
#header3-1x B {
  font-size: 15px;
}
#ext_menu-6 .navbar-toggler {
  color: #000;
}
#ext_menu-h .navbar-toggler {
  color: #000;
}
#ext_menu-i .navbar-toggler {
  color: #000;
}
#ext_menu-j .navbar-toggler {
  color: #000;
}
#ext_menu-k .navbar-toggler {
  color: #000;
}
#ext_menu-l .navbar-toggler {
  color: #000;
}
#ext_menu-m .navbar-toggler {
  color: #000;
}
#ext_menu-n .navbar-toggler {
  color: #000;
}
#ext_menu-o .navbar-toggler {
  color: #000;
}
#ext_menu-p .navbar-toggler {
  color: #000;
}
#ext_menu-q .navbar-toggler {
  color: #000;
}
#ext_menu-r .navbar-toggler {
  color: #000;
}
#ext_menu-s .navbar-toggler {
  color: #000;
}
#ext_menu-t .navbar-toggler {
  color: #000;
}
#ext_menu-u .navbar-toggler {
  color: #000;
}
#ext_menu-v .navbar-toggler {
  color: #000;
}
#ext_menu-w .navbar-toggler {
  color: #000;
}
#ext_menu-x .navbar-toggler {
  color: #000;
}
#ext_menu-1q .navbar-toggler {
  color: #000;
}
#ext_menu-y .navbar-toggler {
  color: #000;
}
#ext_menu-z .navbar-toggler {
  color: #000;
}
#ext_menu-10 .navbar-toggler {
  color: #000;
}
#ext_menu-f .navbar-toggler {
  color: #000;
}
#ext_menu-e .navbar-toggler {
  color: #000;
}
#ext_menu-11 .navbar-toggler {
  color: #000;
}
#ext_menu-g .navbar-toggler {
  color: #000;
}
